@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #ffffff;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background: linear-gradient(to right, rgb(56, 38, 83), rgb(183, 174, 195));
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header-text{
    color: white;
    font-size: 30px;
    margin-left: 1%;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px #FFFFFF;
    color: white;
}

.stats-card {
    background-color: rgb(56, 38, 83);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: rgb(56, 38, 83);
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    color: white;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(154, 121, 202);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

